{% extends "./basic.html" %}
{% block body %}
    <!-- Login Modal -->
    {% if is_signup %}
        <div class="alert alert-success head alert-dismissible fade show"
             role="alert">
            Your account has been registered successfully. You can now login
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><small><strong>x</strong></small></span>
            </button>
        </div>
    {% endif %}
    <div class="container login">
        <div class="head mb-3">
            <h1>Login</h1>
        </div>
        <form action="{% url 'userLogin' %}" method="post">
            {% csrf_token %}
            {% for form_field in login_form %}
                {{ form_field }}
                <p class="text-white">{{ form_field.errors.as_text }}</p>
            {% endfor %}
            <div class="head">
                <button type="submit" value="Submit" class="btn btn-login mr-3">Login</button>
                <a href="{% url 'userSignUp' %}">
                    <button type="button" class="btn btn-login ml-2 ">Sign Up</button>
                </a>
            </div>
        </form>
    </div>
{% endblock body %}
{% block style %}
    body {
    background: #ABCDEF;
    }
    .container{
    width: 30%;
    }
    .head {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .login {
    color: white;
    background: #267871;
    background:
    -webkit-linear-gradient(to right, #267871, #136a8a);
    background:
    linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow:
    0px 2px 10px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 50px;
    margin-top: 50px
    }
    .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
    margin-top: 20px
    }
{% endblock style %}
